/*!! Default screen size set on (376px mobile)*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Electrolize", sans-serif;
    background-color: black;
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}

h2 {
    font-size: 1.2em;
    color: white;
    text-align: center;
}

nav {
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hideOnMobile {
    display: none;
}

#nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

#nav-logo img {
    height: 30px;
    width: 30px;
}

#nav-logo p {
    color: white;
    font-size: 1em;
    margin-left: 5px;
}

#nav-list {
    display: flex;
    /*flex originally*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 65px;
    margin-right: 25px;
    height: 60px;
}

#nav-list a {
    color: white;
    font-size: 1.25em;
}

#nav-list a:hover {
    color: rgb(253, 239, 46);
}

#nav-list #mobile-menu {
    position: relative;
    top: 2px;
}

#sidebar-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #111111;
    display: none;
    /*flex originally*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#sidebar-list li {
    margin-top: 50px;
}


#sidebar-list a {
    color: white;
    font-size: 1em;
}

#sidebar-list a:hover {
    color: rgb(253, 239, 46);
}

#mobile-menu {
    display: block;
    /*block originally*/
}

#burger-button {
    height: 25px;
    width: 25px;
}

main {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

main img {
    width: 100%;
    object-fit: cover;
    filter: blur(0px);
}

main h1 {
    position: absolute;
    top: 50px;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.856);
    font-size: 5vw;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

main h1 span {
    color: rgb(255, 196, 0);
    font-size: 1.7em;
    font-weight: bold;
}

#about {
    margin-top: 150px;
}

#about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#about img {
    display: inline-block;
    width: 250px;
    height: 350px;
    border-radius: 15px;
}

#about p {
    color: white;
    font-size: 1em;
    text-align: justify;
    line-height: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

#membership {
    margin-top: 150px;
}

#membership-tiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tiles {
    background-color: white;
    width: 230px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

#flexi,
#off-peak {
    background-color: rgba(255, 255, 255, 0.719);
    width: 220px;
    height: 380px;
}

.tiles img {
    width: 23%;
}

.tiles p {
    color: black;
    font-size: 0.95em;
    font-weight: bold;
}

.tiles p:nth-child(1) {
    color: black;
    font-size: 1.4em;
    margin-top: 20px;
}

.tiles p span:nth-child(1) {
    color: black;
    font-size: 1.25em;
}

.join-button {
    font-size: 0.6em;
    font-weight: bold;
    height: 30px;
    width: 75px;
    text-transform: uppercase;
    background-color: rgb(253, 239, 46);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(26, 26, 26);
    border-radius: 5px;
    margin-top: 10px;
}

.join-button:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    color: white;
}

footer {
    background-color: rgb(253, 239, 46);
    height: 230px;
    margin-top: 150px;
}

.footer-p {
    color: rgb(34, 34, 34);
    font-size: 0.9em;
    font-weight: bold;
}

#contact {
    line-height: 25px;
    padding-top: 25px;
}

#contact p {
    text-align: center;
}

#subscribe {
    padding-top: 20px;
    text-align: center;
}

#subscribe-letter {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

#text-box {
    width: 190px;
    height: 30px;
    margin-top: 10px;
}

#submit-button {
    width: 65px;
    height: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 0.6em;
    text-transform: uppercase;
}

@media (min-width: 376px) {
    h2 {
        font-size: 1.35em;
    }

    main {
        height: 450px;
        margin-top: 50px;
    }

    main h1 {
        position: absolute;
        top: 60px;
        font-size: 5vw;
    }

    #sidebar-list a {
        font-size: 1.2em;
    }

    #about img {
        display: inline-block;
        width: 250px;
        height: 350px;
        border-radius: 15px;
    }

    #about p {
        color: white;
        font-size: 1.2em;
        text-align: justify;
        line-height: 25px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 30px;
    }

    .tiles {
        background-color: white;
        width: 250px;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 230px;
        height: 410px;
    }

    .tiles p {
        color: black;
        font-size: 1.05em;
        font-weight: bold;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.4em;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.3em;
    }

    .footer-p {
        font-size: 1em;
    }

    #subscribe-letter {
        font-size: 1.3em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 190px;
        height: 30px;
        margin-top: 10px;
    }

    #submit-button {
        width: 70px;
        height: 30px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@media (min-width: 576px) {
    h2 {
        font-size: 1.6em;
    }

    #sidebar-list a {
        font-size: 1.3em;
    }

    main {
        height: 500px;
        margin-top: 50px;
    }

    main h1 {
        position: absolute;
        top: 40px;
        font-size: 5vw;
    }

    #about img {
        display: inline-block;
        width: 300px;
        height: 400px;
        border-radius: 15px;
    }

    #about p {
        color: white;
        font-size: 1.1em;
        text-align: justify;
        line-height: 25px;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 30px;
    }

    .tiles {
        background-color: white;
        width: 250px;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 230px;
        height: 410px;
    }

    .tiles p {
        color: black;
        font-size: 1.05em;
        font-weight: bold;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.4em;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.3em;
    }

    .footer-p {
        font-size: 1em;
    }

    #subscribe-letter {
        font-size: 1.3em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 190px;
        height: 30px;
        margin-top: 10px;
    }

    #submit-button {
        width: 70px;
        height: 30px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.7em;
    }

    nav {
        height: 100px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }

    #nav-logo img {
        height: 45px;
        width: 45px;
    }

    #nav-logo p {
        color: white;
        font-size: 1.5em;
        margin-left: 5px;
    }

    #burger-button {
        height: 35px;
        width: 35px;
    }

    #sidebar-list a {
        font-size: 1.5em;
    }

    main {
        height: 650px;
        margin-top: 50px;
    }

    main h1 {
        position: absolute;
        top: 40px;
        font-size: 5vw;
    }

    #about img {
        display: inline-block;
        width: 350px;
        height: 450px;
        border-radius: 15px;
    }

    #about p {
        color: white;
        font-size: 1.3em;
        text-align: justify;
        line-height: 35px;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 30px;
    }

    .tiles {
        background-color: white;
        width: 290px;
        height: 490px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 270px;
        height: 480px;
    }

    .tiles img {
        width: 25%;
    }

    .tiles p {
        color: black;
        font-size: 1em;
        font-weight: bold;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.4em;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.3em;
    }

    .join-button {
        font-size: 0.75em;
        font-weight: bold;
        height: 35px;
        width: 90px;
        text-transform: uppercase;
        background-color: rgb(253, 239, 46);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        margin-top: 10px;
    }

    .footer-p {
        font-size: 1.1em;
    }

    #subscribe-letter {
        font-size: 1.3em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 190px;
        height: 30px;
        margin-top: 10px;
    }

    #submit-button {
        width: 70px;
        height: 30px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 1.8em;
    }

    nav {
        height: 120px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }

    #nav-logo img {
        height: 45px;
        width: 45px;
    }

    #nav-logo p {
        color: white;
        font-size: 1.8em;
        margin-left: 5px;
    }

    #nav-list a {
        color: white;
        font-size: 1.3em;
    }

    #mobile-menu {
        display: none;
        /*block originally*/
    }

    .hideOnMobile {
        display: block;
    }

    main {
        height: 900px;
        margin-top: 50px;
    }

    main h1 {
        position: absolute;
        top: 70px;
        font-size: 5vw;
        line-height: 80px;
    }

    #about div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }

    #about img {
        width: 320px;
        height: 420px;
        border-radius: 10px;
        margin-left: 120px;
    }

    #about p {
        flex: 1;
        color: white;
        font-size: 1.25em;
        text-align: justify;
        line-height: 40px;
        margin-top: 0px;
        margin-right: 100px;
        margin-left: 0;
    }

    .tiles {
        background-color: white;
        width: 300px;
        height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 280px;
        height: 520px;
    }

    .tiles img {
        width: 25%;
    }

    .tiles p {
        color: black;
        font-size: 1.2em;
        font-weight: bold;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.7em;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.3em;
    }

    .join-button {
        font-size: 0.8em;
        font-weight: bold;
        height: 40px;
        width: 100px;
        text-transform: uppercase;
        background-color: rgb(253, 239, 46);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        margin-top: 10px;
    }

    footer {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }

    .footer-p {
        font-size: 1.2em;
    }

    #contact {
        padding-top: 0px;
    }

    #contact p {
        text-align: justify;
        line-height: 35px;
    }

    #subscribe {
        padding-top: 20px;
        text-align: center;
    }

    #subscribe-letter {
        font-size: 1.5em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 190px;
        height: 30px;
        margin-top: 10px;
    }

    #submit-button {
        width: 70px;
        height: 30px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@media (min-width: 1400px) {
    h2 {
        font-size: 3em;
    }

    nav {
        height: 130px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
    }

    #nav-logo img {
        height: 65px;
        width: 65px;
        position: relative;
        top: -5px;
    }

    #nav-logo p {
        color: white;
        font-size: 2.5em;
        margin-left: 5px;
    }

    #nav-list {
        margin-right: 50px;
    }

    #nav-list a {
        color: white;
        font-size: 1.8em;
    }

    #mobile-menu {
        display: none;
        /*block originally*/
    }

    .hideOnMobile {
        display: block;
    }

    main {
        height: 1200px;
        margin-top: 100px;
    }

    main img {
        width: 1500px;
        object-fit: cover;
        filter: blur(0px);
    }

    main h1 {
        position: absolute;
        top: 70px;
        font-size: 5vw;
        text-align: center;
        line-height: 120px;
    }

    main h1 span {
        color: rgb(255, 196, 0);
        font-size: 1.3em;
        font-weight: bold;
    }

    #about {
        margin-top: 300px;
    }

    #about div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        width: 1000px;
        margin: 0 auto;
        margin-top: 30px;
    }

    #about img {
        width: 450px;
        height: 550px;
        border-radius: 10px;
        margin-left: 0;
    }

    #about p {
        flex: 1;
        color: white;
        font-size: 1.6em;
        text-align: justify;
        line-height: 65px;
        margin-top: 0px;
        margin-right: 0;
    }

    #membership {
        margin-top: 300px;
    }

    #membership-tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .tiles {
        background-color: white;
        width: 320px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 300px;
        height: 525px;
    }

    .tiles img {
        width: 25%;
    }

    .tiles p {
        color: black;
        font-size: 1.3em;
        font-weight: bold;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.8em;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.4em;
    }

    .join-button {
        font-size: 0.85em;
        font-weight: bold;
        height: 40px;
        width: 100px;
        text-transform: uppercase;
        background-color: rgb(253, 239, 46);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        margin-top: 0px;
    }

    footer {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-p {
        font-size: 1.4em;
    }

    #contact {
        padding-top: 0px;
    }

    #contact p {
        text-align: justify;
        line-height: 40px;
    }

    #subscribe {
        padding-top: 20px;
        text-align: center;
    }

    #subscribe-letter {
        font-size: 1.7em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 250px;
        height: 30px;
        margin-top: 10px;
    }

    #submit-button {
        width: 70px;
        height: 30px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 0.9em;
        text-transform: uppercase;
    }
}

@media (min-width: 1600px) {
    h2 {
        font-size: 2.5vw;
    }

    nav {
        height: 130px;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #nav-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
    }

    #nav-logo img {
        height: 65px;
        width: 65px;
        position: relative;
        top: -5px;
    }

    #nav-logo p {
        color: white;
        font-size: 2.2vw;
        font-weight: bold;
        margin-left: 5px;
    }

    #nav-list {
        margin-right: 90px;
    }

    #nav-list a {
        color: white;
        font-size: 1.4vw;
    }

    #mobile-menu {
        display: none;
        /*block originally*/
    }

    .hideOnMobile {
        display: block;
    }

    main {
        height: 1200px;
        margin-top: 100px;
    }

    main img {
        width: 1500px;
        object-fit: cover;
        filter: blur(0px);
    }

    main h1 {
        position: absolute;
        top: 50px;
        font-size: 3vw;
        text-align: center;
        line-height: 120px;
    }

    main h1 span {
        color: rgb(255, 196, 0);
        font-size: 1.3em;
        font-weight: bold;
    }

    #about {
        margin-top: 300px;
    }

    #about div {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        width: 1000px;
        margin: 0 auto;
        margin-top: 50px;
    }

    #about img {
        width: 450px;
        height: 550px;
        border-radius: 10px;
        margin-left: 20px;
    }

    #about p {
        color: white;
        font-size: 1.45em;
        text-align: justify;
        line-height: 45px;
        margin-top: 0px;
        margin-right: 0;
    }

    #membership {
        margin-top: 300px;
    }

    #membership-tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .tiles {
        background-color: white;
        width: 320px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #flexi,
    #off-peak {
        background-color: rgba(255, 255, 255, 0.719);
        width: 300px;
        height: 525px;
    }

    .tiles img {
        width: 25%;
    }

    .tiles p {
        color: black;
        font-size: 1.3em;
        font-weight: normal;
    }

    .tiles p:nth-child(1) {
        color: black;
        font-size: 1.8em;
        font-weight: bold;
        margin-top: 20px;
    }

    .tiles p span:nth-child(1) {
        color: black;
        font-size: 1.3em;
        font-weight: bold;
    }

    .join-button {
        font-size: 0.85em;
        font-weight: bold;
        height: 40px;
        width: 100px;
        text-transform: uppercase;
        background-color: rgb(253, 239, 46);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        margin-top: 0px;
    }

    footer {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 300px;
    }

    .footer-p {
        font-size: 1.6em;
        font-weight: normal;
    }

    #contact {
        padding-top: 0px;
    }

    #contact p {
        text-align: justify;
        line-height: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #subscribe {
        padding-top: 20px;
        text-align: center;
    }

    #subscribe-letter {
        font-size: 2em;
        font-weight: bold;
        display: block;
    }

    #text-box {
        width: 310px;
        height: 42px;
        margin-top: 10px;
    }

    #submit-button {
        width: 80px;
        height: 40px;
        background-color: rgb(24, 24, 24);
        color: white;
        font-size: 1em;
        text-transform: uppercase;
    }
}